* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background: burlywood;
    width: 150px;

}

#grid_wrapper_index {
    background: turquoise;
    
}