@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Fira+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.4375rem;
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 2.125rem;
    font-family: 'Cinzel', serif;
}

h3 {
    font-size: 1.3125rem;
    font-family: 'Cinzel', serif;
}

p {
   font-size: 0.8125rem; 
   font-family: 'Fira Sans', sans-serif;
}

/* Header stuff */

header {
    grid-area: he;
    background: black;
    color: rgb(165, 226, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 60px;
    border-radius: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    right: 0px;
    width: 100%;
    align-items: center;
    background: rgb(165, 226, 74);
    transition: all 0.5s;
}

.nav_active {
    transform: translateY(90vh);
}

#nav_links li {
    list-style: none;
}

#nav_links a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: black;
    font-size: 2.125rem;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#nav_links a:hover {
    font-weight: bold;
    background: none;
}

.hamburger_line {
    width: 30px;
    height: 4px;
    background: rgb(165, 226, 74);
    margin: 7px;
    border-radius: 10%;
    transition: all 0.5s;
    cursor: pointer;
}

.crossed_line #line1 {
    transform: rotate(-45deg) translate(-5px, 10px);
    background: black;
}

.crossed_line #line2 {
    opacity: 0;
}

.crossed_line #line3 {
    transform: rotate(45deg) translate(-5px, -10px);
    background: black;
}

/* Index stuff */

#grid_wrapper_index {
    display: grid;
    grid-template-areas: 
    "he"
    "s1"
    "s2"
    "s3"
    "s4"
    "s5"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 12vh) minmax(300px, 1fr) minmax(200px, 0.6fr) minmax(300px, 1fr) minmax(700px, 2fr) minmax(250px, 0.8fr) minmax(200px, 15vh);
}

#grid_wrapper_index h2 {
    color: rgb(165, 226, 74);
}

#membership {
    grid-area: s1;
    background: rgb(165, 226, 74);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#membership_button {
    background: rgb(0, 0, 0);
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: underline;
}

#description {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: black;
    color: rgb(230, 252, 255);
}

#games_index {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: rgb(230, 252, 255);
    background: black;
}

#games_index img {
    width: 40%;
    border-radius: 20px;
    border: rgb(165, 226, 74) 2px solid;
}

#news_index {
    grid-area: s4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: black;
    color: white;
}

#news_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(234, 255, 240);
    border: 4px solid rgb(165, 226, 74);
    color: black;
    border-radius: 10%;
    padding: 10px;
    margin: 20px;
    height: 150px;
    width: 90%;
}

.news_article a {
    color: black;
    font-weight: bold;

}

.news_article h3 {
    text-decoration: underline;
}

#schedule_index {
    grid-area: s5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: white;
}

#business_hours_index {
    grid-area: bh;
}

#events_index {
    grid-area: ev;
}


/* Games stuff */

#games_wrapper {
    display: grid;
    grid-template-areas: 
    "he"
    "s1"
    "s2"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 12vh) minmax(100px, 0.1fr) minmax(1100px, 1fr) minmax(200px, 15vh);
}

#games_title {
    grid-area: s1;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(165, 226, 74);
}

#games_list {
    grid-area: s2;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} 

#games_list h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.games_list_article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgb(165, 226, 74);
    margin: 15px;
    padding: 5px;
    border: solid 2px rgb(234, 255, 240);
    border-radius: 10px;
    width: 80%;
}

.games_list_article img {
    width: 100%;
    border-radius: 20px;
    border: rgb(234, 255, 240) 4px solid;
}

/* About & Contact stuff */

#about_contact_wrapper {
    display: grid;
    grid-template-areas: 
    "he"
    "s1"
    "s2"
    "s3"
    "s4"
    "s5"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 12vh) minmax(150px, 0.35fr) minmax(200px, 0.4fr) minmax(550px, 1fr) minmax(300px, 0.75fr) minmax(1500px, 2.8fr) minmax(200px, 15vh);
}

#about_contact_wrapper h2 {
    color: rgb(165, 226, 74);
}

#about_title {
    grid-area: s1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(165, 226, 74);
}

#contact_information {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: black;
    color: white;
    letter-spacing: 0.1875rem;
    padding-left: 20px;
}

#contact_information a {
    text-decoration: underline;
    color: rgb(165, 226, 74);
}

#history {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: white;
    padding: 5px;
}

#history h3 {
    color: rgb(165, 226, 74);
}

#faq {
    grid-area: s4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: black;
    color: white;
    word-spacing: 0.1rem;
}

#faq strong {
    color: rgb(165, 226, 74);
}

#faq_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.faq_question {
    padding: 5px;
    margin-bottom: 30px;
}

#faq strong {
    text-decoration: underline;
}

#gallery {
    grid-area: s5;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(165, 226, 74);
}

.gallery_photo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: black 4px solid;
    border-radius: 50px;
}

.gallery_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* Schedule stuff */

#schedule_wrapper 
{
    display: grid;
    grid-template-areas: 
    "he"
    "s1"
    "s2"
    "fo"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 12vh) minmax(150px, 0.15fr) minmax(1200px, 1fr) minmax(200px, 15vh);
}

#schedule_wrapper h2 {
    color: rgb(165, 226, 74);
}

#business_hours {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(165, 226, 74);
    text-align: center;
}

#business_hours h2 {
    color: black;
}

#business_hours p {
    height: 2rem;
}

#events {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: black;
}

.event_article {
    background: rgb(165, 226, 74);
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
}

/* Footer stuff */

footer {
    grid-area: fo;
    display: grid;
    grid-template-areas: 
    "sf bf"
    "sf af"
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: black;
    border-top: solid 5px rgb(165, 226, 74);
    color: rgb(230, 252, 255);
    padding: 5px;
}

#socials_footer {
    grid-area: sf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: rgb(165, 226, 74) 2px solid;
}

#socials_footer img {
    width: 50px;
}

#socials_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#business_hours_footer {
    grid-area: bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: rgb(165, 226, 74) 2px solid;
}

#address_footer {
    grid-area: af;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* datorskarm anpassning */

@media screen and (min-width: 768px) {

    /* header */

    #nav_links {
        width: 200px;
    }
    
    #nav_links a {
        width: 200px;
        font-size: 1.3125rem;
    }

    #nav_links a:hover {
        font-weight: normal;
        background-color: black;
        color: rgb(165, 226, 74);
    }

    /* index */

    #grid_wrapper_index {
        grid-template-areas: 
        "he he"
        "s1 s1"
        "s2 s2"
        "s5 s3"
        "s5 s3"
        "s4 s4"
        "fo fo"
        ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(60px, 12vh) minmax(200px, 1.5fr) minmax(200px, 0.8fr) minmax(100px, 0.5fr) minmax(150px, 0.8fr) minmax(400px, 2fr) minmax(150px, 15vh);
    }

    .news_article {
        height: 200px;
        width: 25%;
        padding: 10px;
    }

    #news_index {
        flex-direction: column;
    }

    #news_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }

    /* games */

    #games_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(60px, 12vh) minmax(100px, 0.15fr) minmax(1000px, 1fr) minmax(150px, 15vh);
    }

    .games_list_article {
        flex-direction: row;
    }

    .games_list_article img {
        width: 20%;
        margin: 10px;
    }

    /* about contact */

    #about_contact_wrapper {
        display: grid;
        grid-template-areas: 
        "he he"
        "s1 s1"
        "s2 s3"
        "s4 s4"
        "s5 s5"
        "fo fo"
        ;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: minmax(60px, 12vh) minmax(100px, 0.25fr) minmax(300px, 0.6fr) minmax(300px, 0.6fr) minmax(600px, 1fr) minmax(150px, 15vh);
    }
    
    .faq_question {
        padding: 10px;
        margin-top: 20px;
    }

    #gallery {
        justify-content: space-around;
    }

    #gallery_wrapper_top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    #gallery_wrapper_bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    /* schedule */

    #schedule_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(60px, 12vh) minmax(150px, 0.2fr) minmax(500px, 1fr)  minmax(150px, 15vh);
    }

    #events h2 {
        margin-top: 20px;
    }

    #events_wrapper {
        display: flex;
        flex-wrap: wrap;

    }
    
    .event_article {
        flex: 1 0 31%;
        width: 10%;
        height: auto;
        margin: 5%;
        padding: 20px;
    }

}